.btn{
	.transition(0.2s);
	.fh;
	margin: 0;
	padding: 0 30px;
	border : 0;
	height: 43px;
	line-height: 43px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	text-shadow: -1px -1px 0 fade(#000,30%);
	color: #fff;
	outline: none;
	text-align: center;
	background: @c2;
	&:hover{
		background: darken(@c2,5%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: darken(@c2,5%);
		}
	}
}