// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Alegreya Sans SC',sans-serif;} // font header
.fi {font-family: 'fontello',sans-serif;} // font icon

// colors
@c1: #42433b;
@c2: #c20011;
@c3: #ffbb00;
@c4: #b1b1af;
@c5: #d3dab9;

// body
@bb: @c5; // body background

@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.6; // line height primary

// layout
@content-width: 1140px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 10px;

// media query >>> @media @xs, @sm
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";