.container{
	@media @md {
		width: @content-width-md;
	}
	@media @sm {
		width: @content-width-sm;
	}
	@media @xs {
		width: @content-width-xs;
	}
	.clearfix;
	position: relative;
	width: @content-width;
	padding: 0 @content-padding;
	margin: auto;
	text-align: left;
}
#page {
	@media @md {
		min-width: @content-width-md;
	}
	@media @sm {
		min-width: @content-width-sm;
	}
	@media @xs {
		min-width: @content-width-xs;
	}
	position: relative;
	min-width: @content-width;
	overflow: hidden;
	&.homepage {
		.logo {
			@media @sm {
				margin-bottom: 100px;
			}
			@media @xs {
				margin-bottom: 0;
			}
			margin-bottom: 260px;
		}
	}
	&:before{
		@media @xs {
			display: none;
		}
		.box-shadow(0 0 6px #000);
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 730px;
		border-top: 10px solid #a8d8fd;
		background: url(../images/bg/01.jpg) no-repeat center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	&:after{
		@media @xs {
			display: none;
		}
		content: '';
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		height: 320px;
		background: -moz-linear-gradient(top,  rgba(0,126,168,0.5) 0%, rgba(0,126,168,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,126,168,0.5) 0%,rgba(0,126,168,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,126,168,0.5) 0%,rgba(0,126,168,0) 100%);
	}
	.logo {
		position: relative;
		z-index: 1;
		margin: 54px 40px 25px;
		float: left;
		@media @xs {
			float: none;
			text-align: center;
			margin-top: 0;
		}
		&:before{
			.box-shadow(0 0 6px fade(#000,40%));
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 999em;
			background: #fff;
			@media @xs {
				right: -500em;
			}
		}
		a {
			@media @xs {
				display: inline-block;
				padding: 20px 0;
			}
			.fh;
			position: relative;
			display: block;
			font-size: 41px;
			font-weight: 300;
			line-height: 1;
			text-decoration: none;
			padding: 24px 32px 25px 133px;
			color: @c1;
			background: #fff;
			&:before{
				@media @xs {
					position: static;
					display: block;
					margin: 0;
					zoom: 0.8;
				}
				position: absolute;
				top: 50%;
				margin: -67px 0 0;
				left: 0;
				content: url('../images/logo/01.png');
			}
			mark {
				font-weight: bold;
				text-transform: uppercase;
			}
			small {
				text-transform: uppercase;
				font-size: 17px;
				letter-spacing: 0.4em;
				display: block;
				margin: 7px 0 0;
			}
		}
	}
}
#mainmenu {
	position: relative;
	z-index: 1;
	padding: 20px 0 28px;
}
#col_home_main {
	@media @sm, @xs {
		width: 100%;
	}
	float: left;
	width: 66.1%;
}
#col_home_sidebar {
	@media @sm, @xs {
		width: 100%;
	}
	float: right;
	width: 32.1%;
}
#banners {
	.box-shadow(0 0 6px fade(#000,30%));
	position: relative;
	z-index: 1;
	background: #fff;
}
#page-footer {
	@media @xs {
		background: none;
		padding: 0;
	}
	padding: 0 0 15%;
	background: url(../images/bg/01.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.copyright {
		.clearfix;
		background: #fff;
		background: fade(#fff,50%);
		.copy {
			@media @xs {
				float: none;
				text-align: center;
			}
			float: left;
			color: #000;
			font-size: 14px;
			margin: 28px 0 20px;
			p {
				margin: 0;
			}
		}
		.xart {
			@media @xs {
				float: none;
				text-align: center;
			}
			float: right;
			text-transform: uppercase;
			font-size: 11px;
			margin: 30px 40px 25px 20px;
			img {
				@media @xs {
					float: none;
					display: block;
					margin: 0 auto 5px;
				}
				float: right;
				margin: 0 0 0 10px;
			}
			a {
				color: #000;
				text-decoration: none;
			}
		}
	}
}
#content_main {
	@media @xs {
		margin: 0 -10px 50px;
		padding: 20px 10px;
	}
	.clearfix;
	.box-shadow(0 0 6px fade(#000,30%));
	position: relative;
	background: #fff;
	padding: 40px;
	margin: 0 0 50px;
}
#col_main {
	@media @sm, @xs {
		float: none;
		width: 100%;
		margin-bottom: 50px;
	}
	float: right;
	width: 73%;
}
#col_sidebar {
	@media @sm, @xs {
		float: none;
		width: 100%;
	}
	float: left;
	width: 22%;
}
#gotop{
	@media @xs {
		display: none;
	}
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @c2;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80b';
			font-size: 20px;
		}
		&:hover{
			background: darken(@c2,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}