.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0 0 40px;
		li{
			.fh;
			float: left;
			margin-right: 10px;
			color: @c2;
			font-size: 14px;
			padding-left: 15px;
			&:before{
				top: 6px;
				color: @c4;
				font-size: 8px;
			}
			a {
				color: @c4;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-header {
	@media @xs {
		margin: 0;
		float: none;
	}
	position: relative;
	z-index: 1;
	float: right;
	margin: 30px 0;
	ul {
		.rul;
		text-align: center;
		li {
			@media @xs {
				float: none;
				display: inline-block;
			}
			.rli;
			float: left;
			margin: 0 0 0 5px;
			a {
				.transition(0.2s);
				color: #fff;
				&:hover{
					color: @c3;
				}
				[class^="icon-"] {
					@media @xs {
						font-size: 30px;
						text-shadow: none;
						color: @c1;
					}
					display: inline-block;
					text-indent: 0;
					font-size: 60px;
					text-shadow: 3px 3px 0 fade(#000,30%);
					&:before{
						margin: 0;
					}
				}
			}
		}
	}
}
.mod_menu-main {
	@media @xs {
		margin: 0 -10px;
	}
	position: relative;
	&.on {
		ul {
			@media @xs {
				display: block;
			}
		}
	}
	&:before, &:after {
		@media @xs {
			display: none;
		}
		position: absolute;
		content: '';
		left: -44px;
		top: -23px;
		height: 101px;
		width: 98px;
		background: url(../images/bg/03.png);
	}
	&:after{
		left: auto;
		right: -44px;
		background-position: right top;
	}
	.toggle {
		display: none;
		text-align: center;
		background: @c2;
		margin: 0 -10px;
		color: #fff;
		cursor: pointer;
		font-size: 40px;
		@media @xs {
			display: block;
		}
	}
	ul {
		@media @sm {
			display: block;
			padding: 10px 0;
		}
		@media @xs {
			display: none;
			padding: 10px 0;
			.box-shadow(none);
		}
		.rul;
		.box-shadow(0 0 6px #000);
		text-align: center;
		position: relative;
		z-index: 1;
		display: table;
		width: 100%;
		background: @c2;
		background-image: -moz-linear-gradient(left,  @c2 0%, lighten(@c2,10%) 50%, @c2 100%);
		background-image: -webkit-linear-gradient(left,  @c2 0%,lighten(@c2,10%) 50%,@c2 100%);
		background-image: linear-gradient(to right,  @c2 0%,lighten(@c2,10%) 50%, @c2 100%);
		&:before, &:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 7px;
			background-image: -moz-linear-gradient(left,  @c2 0%, fade(@c3,40%) 50%, @c2 100%);
			background-image: -webkit-linear-gradient(left,  @c2 0%,fade(@c3,40%) 50%,@c2 100%);
			background-image: linear-gradient(to right,  @c2 0%,fade(@c3,40%) 50%, @c2 100%);
		}
		&:after{
			left: 10%;
			right: 10%;
			top: 7px;
			height: 2px;
			background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0) 100%);
		}
		li {
			@media @md {
				padding-left: 10px;
				padding-right: 10px;
			}
			@media @sm {
				display: inline-block;
				padding: 0 10px;
				&:first-child {
					width: 100%;
				}
			}
			@media @xs {
				display: block;
				padding: 3px;
			}
			.rli;
			.fh;
			text-transform: uppercase;
			position: relative;
			display: table-cell;
			font-size: 18px;
			line-height: 1.2;
			padding: 11px 20px 16px;
			vertical-align: middle;
			text-align: center;
			border-top: 7px solid transparent;
			&:before, &:after {
				@media @sm {
					display: none;
				}
				content: '';
				position: absolute;
				left: 100%;
				top: 5%;
				bottom: 15%;
				width: 1px;
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
			}
			&:after{
				margin: 0 0 0 1px;
				background: -moz-linear-gradient(top,  rgba(255,187,0,0) 0%, rgba(255,187,0,1) 50%, rgba(255,187,0,0) 100%);
				background: -webkit-linear-gradient(top,  rgba(255,187,0,0) 0%,rgba(255,187,0,1) 50%,rgba(255,187,0,0) 100%);
				background: linear-gradient(to bottom,  rgba(255,187,0,0) 0%,rgba(255,187,0,1) 50%,rgba(255,187,0,0) 100%);
			}
			&.act {
				@media @sm {
					border-color: transparent;
				}
				border-color: @c3;
				a {
					color: @c3;
				}
			}
			&:first-child {
				&.act {
					border-color: transparent;
				}
			}
			&:first-child, &:last-child {
				&:before, &:after {
					display: none;
				}
			}
			a {
				.transition(0.2s);
				color: #fff;
				text-decoration: none;
				text-shadow: -2px -1px 0 fade(#000,30%);
				&:hover{
					color: @c3;
				}
				[class^="icon-"] {
					@media @sm, @xs {
						font-size: 36px;
					}
					font-size: 55px;
					display: block;
					line-height: 1;
					text-shadow: 3px 3px 0 fade(#000,30%);
					&:before{
						margin: 0;
					}
				}
			}
		}
	}
}
.mod_custom-dashboard {
	.tabs {
		overflow: hidden;
		margin: -8px -8px 0;
		padding: 8px 8px 0;
		ul {
			@media @xs {
				display: block;
				margin: 0 0 10px;
			}
			.rul;
			position: static;
			display: table;
			width: 100%;
			background: #fff;
			li {
				@media @xs {
					display: block;
				}
				.rli;
				.fh;
				position: relative;
				font-size: 18px;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				text-transform: uppercase;
				background: @c3;
				a {
					@media @xs {
						padding: 5px 20px;
						margin: 1px 0;
					}
					display: block;
					padding: 25px 46px 17px;
					text-decoration: none;
					color: @c1;
					&:hover {
						color: @c2;
					}
				}
				&.act {
					@media @xs {
						.box-shadow(none);
					}
					.box-shadow(0 0 6px fade(#000,30%));
					z-index: 1;
					background: #fff;
					a {
						@media @xs {
							color: #fff;
							background: @c2;
						}
						color: @c2;
						background: #fff;
						&:before{
							@media @xs {
								display: none;
							}
							content: '';
							position: absolute;
							bottom: 100%;
							left: 0;
							right: 0;
							height: 8px;
							background: #fff;
						}
					}
				}
			}
		}
	}
	.panes {
		@media @xs {
			padding: 0 20px;
			margin: 0 0 40px;
		}
		.box-shadow(0 0 6px fade(#000,30%));
		position: relative;
		padding: 20px 50px;
		margin: 0 0 87px;
		background: #fff;
		.pane {
			display: none;
			&:first-child {
				display: block;
			}
		}
	}
	.items {
		.item {
			.clearfix;
			font-size: 15px;
			padding: 23px 0 8px;
			border-top: 1px dashed @c4;
			&:first-child {
				border: none;
			}
			figure {
				@media @xs {
					float: none;
					width: 100%;
					margin: 0 0 20px;
				}
				position: relative;
				float: right;
				width: 20%;
				margin: 7px 15px 7px 20px;
				&:before{
					content: '';
					position: absolute;
					bottom: -5px;
					left: -5px;
					width: 16px;
					height: 16px;
					border-bottom: 4px solid @c2;
					border-left: 4px solid @c2;
				}
				&:after{
					content: '';
					position: absolute;
					top: -5px;
					right: -5px;
					width: 16px;
					height: 16px;
					border-top: 4px solid @c3;
					border-right: 4px solid @c3;
				}
				img {
					display: block;
				}
			}
			header {
				[class^="icon-"] {
					float: left;
					font-size: 36px;
					line-height: 1;
					color: @c4;
					margin: 5px 12px 5px 0;
					&:before{
						margin: 0;
					}
				}
				.date {
					.fh;
					font-size: 18px;
					line-height: 1.2;
					font-style: italic;
				}
				h2 {
					margin: 0 0 5px;
					a {
						text-decoration: none;
						border-bottom: 1px solid transparent;
						&:hover{
							border-bottom-color: @c2;
						}
					}
				}
			}
		}
		nav {
			@media @xs {
				margin: 0;
			}
			text-align: center;
			margin: 33px 0 -57px;
			a {
				@media @xs {
					display: block;
					margin: 0 -20px;
				}
				.btn;
				.box-shadow(0 0 6px fade(#000,30%));
				height: 72px;
				line-height: 72px;
				padding: 0 60px;
				font-size: 18px;
			}
		}
	}
}
.mod_custom-links {
	position: relative;
	#col_home_sidebar & {
		margin: 0 0 40px;
		&:before {
			@media @xs {
				display: none;
			}
			position: absolute;
			content: '';
			right: -40px;
			top: 5px;
			height: 80px;
			width: 85px;
			background: url(../images/bg/02.png) no-repeat right top;
		}
		.mod_title {
			.box-shadow(0 0 6px fade(#000,30%));
			padding: 20px 33px 18px;
			color: @c2;
			background: @c5;
		}
		.content {
			.box-shadow(0 0 6px fade(#000,30%));
			padding: 14px 0 8px;
			background: @c5;
			background: -moz-linear-gradient(top,lighten(@c5,10%) 0%, lighten(@c5,5%) 100%);
			background: -webkit-linear-gradient(top,lighten(@c5,10%) 0%, lighten(@c5,5%) 100%);
			background: linear-gradient(to bottom,lighten(@c5,10%) 0%, lighten(@c5,5%) 100%);
		}
		ul {
			li {
				margin: 0 0 0 82px;
				border-bottom: 1px dashed fade(#000,15%);
				a {
					display: block;
					letter-spacing: 0.25em;
					margin: 0 0 0 -82px;
					padding: 18px 15px 18px 82px;
					&:hover{
						color: @c2;
						[class^="icon-"] {
							color: @c2;
						}
					}
					[class^="icon-"] {
						position: absolute;
						left: 28px;
						top: 50%;
						font-size: 26px;
						line-height: 1;
						margin: -17px 0 0;
					}
				}
			}
		}
	}
	#col_bottom & {
		@media @xs {
			margin: 0 -10px 20px;
		}
		margin: 0 0 85px;
		.mod_title {
			@media @xs {
				margin: 0 10px 10px;
			}
			margin: 0 35px 20px;
		}
		.content {
			@media @xs {
				padding: 20px 0;
			}
			padding: 28px 20px 25px;
		}
		ul {
			li {
				@media @xs {
					display: block;
				}
				display: inline-block;
				margin: 0 12px;
				a {
					[class^="icon-"] {
						margin: 0 5px 0 0;
						font-size: 20px;
					}
				}
			}
		}
	}
	.mod_title {
		.fh;
		position: relative;
		font-size: 27px;
		line-height: 1.2;
		font-weight: bold;
		color: @c2;
	}
	.content {
		.box-shadow(0 0 6px fade(#000,30%));
		position: relative;
		background: #fff;
	}
	ul {
		.rul;
		li {
			.rli;
			a {
				.fh;
				.transition(0.2s);
				position: relative;
				text-decoration: none;
				text-transform: uppercase;
				color: #000;
				font-size: 17px;
				line-height: 1.2;
				&:hover{
					color: @c2;
					[class^="icon-"] {
						color: @c2;
					}
				}
				[class^="icon-"] {
					.transition(0.2s);
					color: fade(#000,40%);
				}
			}
		}
	}
}
.mod_xnewsletter {
	font-size: 15px;
	margin: 0 0 40px;
	.mod_title {
		.fh;
		font-size: 27px;
		line-height: 1.2;
		font-weight: bold;
		margin: 0 0 12px;
	}
	p {
		margin: 0 0 16px;
	}
	#col_home_sidebar & {
		@media @xs {
			padding: 0;
		}
		padding: 0 34px;
		form {
			.clearfix;
			input[type="text"], input[type="search"] {
				@media @xs {
					float: none;
					margin: 0 0 10px;
				}
				position: relative;
				float: left;
				margin: 0 -88px 0 0;
				&:hover, &:focus{
					background: #fff;
				}
			}
			input[type="submit"] {
				@media @xs {
					width: 100%;
				}
				position: relative;
				padding: 0;
				width: 88px;
			}
		}
	}
	#col_sidebar & {
		form {
			.clearfix;
			input[type="submit"] {
				@media @xs {
					width: 100%;
					float: none;
					margin: 10px 0 0;
				}
				float: right;
				padding: 0 17px;
				margin: 22px 0 0;
			}
		}
	}
}
.mod_banners {
	padding: 45px 0 35px;
	@media @md, @sm, @xs {
		padding-top: 20px;
		padding-bottom: 15px;
		text-align: center;
	}
	.mod_title {
		@media @md, @sm, @xs {
			display: block;
			margin-bottom: 20px;
			border-bottom: 1px dashed fade(#000,15%);
		}
		.fh;
		display: inline-block;
		vertical-align: middle;
		font-weight: bold;
		font-size: 27px;
		line-height: 1.2;
		padding: 10px 35px 10px;
	}
	ul {
		.rul;
		display: inline-block;
		vertical-align: middle;
		li {
			.rli;
			display: inline-block;
			padding: 10px 20px;
			@media @xs {
				padding: 5px;
				img {
					max-height: 30px;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	@media @xs {
		border-top: 1px dashed fade(#000,20%);
	}
	position: relative;
	margin: 0 0 40px -40px;
	padding: 0 0 15px;
	&:before{
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 16px;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 75%);
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
		background-repeat: no-repeat;
		background-position: 0 -8px;
	}
	&>ul {
		.rul;
		&>li {
			.rli;
			&.act {
				&>a {
					color: @c2;
				}
			}
			&>a {
				.fh;
				display: block;
				padding: 7px 15px 7px 40px;
				font-size: 18px;
				line-height: 1.2;
				color: @cp;
				text-decoration: none;
				border-bottom: 1px dashed fade(#000,20%);
				&:hover{
					color: @c2;
				}
			}
			ul {
				.rul;
				padding: 15px 15px 15px 50px;
				border-bottom: 1px dashed fade(#000,20%);
				li {
					font-size: 14px;
					line-height: 1.2;
					margin: 8px 0;
					&:before{
						font-size: 8px;
						top: 4px;
					}
					&.act {
						&:before{
							color: @c2;
						}
						&>a {
							color: @c2;
						}
					}
					a {
						text-decoration: none;
						color: @c1;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}