nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e80c';
			margin: 0 -5px 0 15px;
		}
	}
}
table.normal{
	margin: 0 0 20px 0;
	width: 100%;
	background: lighten(@c5,12%);
	th,td{
		padding: 6px 8px;
		border: 1px solid lighten(@cp,100%);
		border-left: 0;
		border-right: 0;
		font-size: 15px;
		font-weight: normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@c5,8%);
	}
	th,thead td{
		.fh;
		font-size: 18px;
		font-weight: bold;
		background: darken(@c5,5%)!important;
	}
	tfoot td{
		.fh;
		font-size: 18px;
		background: darken(@c5,2%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input.input-mini{
		width: 40px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	.fileinputs{
		@media @xs {
			display: block;
		}
		position: relative;
		display: inline-block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 100px;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			@media @xs {
				display: block;
			}
			.clearfix;
			display: inline-block;
			.input-file-text{
				@media @xs {
					float: none;
					width: 100%;
				}
				border-right: 0;
				float: left;
				margin-right: 0;
				padding-right: 0;
				width: inherit;
			}
			input[type="button"] {
				@media @xs {
					float: none;
					width: 100%;
				}
				float: left;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @c2;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: 50px 0 30px;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 16px;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 75%);
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
		background-repeat: no-repeat;
		background-position: 0 -8px;
	}
	a,span{
		@media @xs {
			font-size: 16px;
			width: 28px;
			height: 28px;
			line-height: 28px;
		}
		.btn;
		padding: 0;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
	}
	span.pagenav{
		color: #fff;
		background: @c3;
	}
	span.pagenav-ico{
		cursor: default;
		background: lighten(@c1,50%);
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 16px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 75%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
	background-repeat: no-repeat;
	background-position: 0 -8px;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 30px 15px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 15px 30px;
}
a.xeditorpopup img{
	.transition(0.2s);
	border: 6px solid lighten(@c5,0%);
}
a.xeditorpopup:hover img{
	border-color: @c3;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		.fh;
		padding: 8px 14px;
		margin: 0 0 15px 0;
		font-size: 20px;
		line-height: 1.2;
		color: #000;
		background: lighten(@c3,0%);
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: darken(@c3,0%);
	}
	.warning,.error{
		color: #fff;
		background: @c2;
	}
}
